body {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  padding: 30px;
}

#passwordBox {
  margin-top: 100px;
}

#password {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: white;
  color: #ff4081;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mainContent {
  display: none;
}

.photo {
  width: 250px;
  border-radius: 15px;
  margin-top: 20px;
}

.msg {
  margin-top: 20px;
  font-size: 18px;
}
